<mat-toolbar color="primary">
  <img src="icons/logo.png" class="logo" />
  <span>Gestor de Tareas</span>
  <span class="spacer"></span>
  <button mat-raised-button color="accent" class="btn-anim" routerLink="/tasks" > 
    <mat-icon>add</mat-icon>  Tareas
    
  </button>
  <button mat-raised-button color="accent" class="btn-anim" routerLink="/auth/login"> 
    <mat-icon>add</mat-icon>  Iniciar Sesión

  </button>
  <button mat-raised-button color="accent" class="btn-anim" routerLink="/auth/register"> 
    <mat-icon>add</mat-icon>  Registrarse

  </button>
</mat-toolbar>


<div class="container">
   <mat-card class="card">
   
   </mat-card>
  <router-outlet></router-outlet>
</div>